.home-container{
    display:flex;
    .all-movies{
       width: 100%;
       min-height: calc(100vh - 80px); 
       border-right: 1px solid yellow;
       padding: 20px 40px;
       font-family: "Roboto", sans-serif;
       .top{
           display: flex;
           align-items: center;
           justify-content: space-between;
           flex-wrap: wrap;
           .search{
               width: 100%;
               padding-bottom: 15px;
           }
           h4{
               text-transform: uppercase;
               font-weight: bold;
               border-left: 5px solid yellow;
               padding-left: 10px;
           }
           
       }

       
       .movies-thumbnail{
        display:inline-flex;
        flex-wrap: wrap;
        justify-content:left;

        
        
           margin-right: 20px;
           .movie{
               .cover{
                   img{
                       padding-right: 15px;
                       padding-bottom: 10px;
                       width: 200px;
                       height: 300px;
                      
                   }
                }
           }
           
       }
    }
    .popular-movies{
        width:25%;
        min-height:calc(100vh - 80px); 
        font-family: "Roboto", sans-serif;
    }
}