<app-header></app-header>
<div class = "home-container">
    <div class = "all-movies">
        <div class = "top">
            
            
            <h4>Trending Movies</h4>
            
        </div>
        <div class = "movies-thumbnail">
            <div class = "movie" *ngFor="let movie of trendingMovies">
                <div class = "cover" (click)="goToMovie('movie', movie.id)" >
                    <img src="{{'https://image.tmdb.org/t/p/original' + movie.poster_path}}" alt = "">
                </div>
                
            </div>
        </div>
        <div class = "top"> <h4>Top Rated</h4></div>
        <div class = "movies-thumbnail">
            <div class = "movie" *ngFor="let movie of popularMovies">
                <div class = "cover" (click)="goToMovie('movie', movie.id)" >
                    <img src="{{'https://image.tmdb.org/t/p/original' + movie.poster_path}}" alt = "">
                </div>
                
            </div>
        </div>

    </div>
    

</div>